* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    color: #222;
    font-size: 1.125rem;
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
    line-height: 1.5;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    width: 100%;
    max-width: 65rem;
    margin-right: auto;
    margin-left: auto;
}

header {
    padding: 0.5rem 0.75rem;
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover,
header a:focus {
    text-decoration: underline;
}

main {
    margin-top: 3.5rem;
}

button {
    font-family: inherit;
    font-size: 0.6em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: white;
    border-radius: 9999em;
    border: 1px solid currentColor;
    padding: 0.25rem 0.75rem;
}

button:hover,
button:focus {
    background-color: goldenrod;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h1 + * {
    margin-top: 3rem;
}

.slogan {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}

h1 + .slogan {
    margin-top: 0;
    margin-bottom: 3.5rem;
}

.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
    list-style-type: none;
}

.item {
    padding: 2rem;
    border: 1px solid currentColor;
}

.item__image {
    display: block;
}

.item__footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
    margin-right: -2rem;
    margin-bottom: -2rem;
    margin-left: -2rem;
    padding: 0.75rem 2rem;
    color: white;
    background-color: black;
}

.page-footer {
    margin-top: 7rem;
    padding: 0.5rem 0.75rem;
    background-color: black;
    font-size: 0.75em;
}

.page-footer a {
    color: white;
}
